.login {
    text-align: center;
    width: 350px;
    margin: 0 auto;
    margin-top: 30px;
  }
  /* body{
    background-image: url("../images/login.jpg");
  } */
  .otp-input {
    display: flex;
    justify-content: space-between;
    width: 240px;
    margin: 0 auto;
  }

  .otp-input input {
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 26px;
    border: none;
    /* border-bottom: 2px solid #ccc; */
    outline: 2px solid rgb(146, 135, 135);
    margin: 0 5px;
  }
  
  .otp-input input:focus {
    /* border-bottom: 3px solid blue; */
  }